<!DOCTYPE HTML>
<html>
    <body >
        <div style="width:500px;height:500px;margin:0 auto;font-size:20px;border:3px solid grey">
            <p>
            This site is currently under maintenance. We will be back soon.
            </p>
        </div>
    </body>
</html>